﻿@model IEnumerable<BaseStores.Domain.Entities.Store>

@foreach (var item in Model)
{
    <tr>
        <td>@Html.ActionLink(item.Name, "EditStore", new { item.StoreID })</td>
        <td>@item.Address</td>
        <td>@item.Mode</td>
        <td>@Html.ActionLink("Просмотреть", "ProductsList", item)</td>
        <td>
            @using (Html.BeginForm("DeleteStore", "Home"))
            {
                @Html.Hidden("StoreID", item.StoreID)
                <input type="submit" value="Delete" />
            }
        </td>
    </tr>
}