﻿@model BaseStores.Domain.Entities.Product

@{
    ViewBag.Title = "Редактирование товара";
}

<h1>Редактировать @Model.Name</h1>
@using (Html.BeginForm("EditProduct", "Home"))
{
    @Html.EditorForModel()
    <input type="submit" value="Save" /><br/>
    @Html.ActionLink("Отменить и вернуться на главную", "StoresList")
}
