﻿@model BaseStores.Domain.Entities.Store

@{
    ViewBag.Title = "Редактирование магазина";
}

<h1>Редактировать @Model.Name</h1>
@using (Html.BeginForm("EditStore", "Home"))
{
    @Html.EditorForModel()
    <input type="submit" value="Save" /><br/>
    @Html.ActionLink("Отменить и вернуться на главную", "StoresList")
}
