﻿@model BaseStores.Models.ProductsListViewModel

@{
    ViewBag.Title = "Товары магазина: " + @Model.CurrentStoreName;
}

<h1>Товары магазина:</h1>

<p>
    @Html.ActionLink("Добавить новый товар в магазин "
                    + @Model.CurrentStoreName, "CreateProduct", "Home",
                    new { @Model.CurrentStoreId }, null)
</p>
<div>
    <table class="Grid">
        <tr>
            <th>Название товара</th>
            <th>Описание</th>
            <th>Удалить товар</th>
        </tr>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>@Html.ActionLink(item.Name, "EditProduct", new {item.ProductID})</td>
                <td>@item.Description</td>
                <td>
                    @using (Html.BeginForm("DeleteProduct", "Home"))
                    {
                        @Html.Hidden("productId", item.ProductID)
                        @Html.Hidden("storeId", item.StoreID)
                        <input type="submit" value="Delete"/>
                    }
                </td>
            </tr>
        }
    </table><br/>
    @Html.ActionLink("Отменить и вернуться на главную", "StoresList")
</div>
