﻿@model IEnumerable<BaseStores.Domain.Entities.Store>

@{
    ViewBag.Title = "Магазины";
}

<h2>Магазины:</h2>
<p>
    @Html.ActionLink("Добавить магазин ", "CreateStore", "Home")
</p>

<table id="scrolList" class="Grid">
    <tr>
        <th>Название магазина</th>
        <th>Адрес</th>
        <th>Режим работы</th>
        <th>Товары</th>
        <th>Удалить магазин</th>
    </tr>

    @Html.Partial("_Stores")

</table>

<div id="loading">
    <img src="@Url.Content("~/Content/loading.gif")" alt="Loading..."/>
</div>
<br />
@Html.ActionLink("Отменить и вернуться на главную", "StoresList")