﻿BODY, TD
{ 
    font-family: Segoe UI, Verdana
}

H1 { 
    padding: .5em; 
    padding-top: 0; 
    font-weight: bold;
    font-size: 1.5em; 
    border-bottom: 2px solid gray; 
}

DIV#content 
{ 
    padding: .9em; 
}

TABLE.Grid TD, TABLE.Grid TH 
{ 
    border-bottom: 1px dotted gray;
    text-align: justify;
    /*text-align:left;*/ 
}

TABLE.Grid
{ 
    border-collapse: collapse; 
    width:100%;
}

TABLE.Grid TH.NumericCol, Table.Grid TD.NumericCol 
{
    /*text-align: right;*/ 
    padding-right: 1em;
}

FORM {
    margin-bottom: 0px;
}

DIV.Message 
{ 
    background: gray; 
    color:White; 
    padding: .2em; 
    margin-top:.25em; 
}

.field-validation-error 
{ 
    color: red; 
    display: block; 
}

.field-validation-valid 
{ 
    display: none; 
}

.input-validation-error 
{ 
    border: 1px solid red; 
    background-color: #ffeeee; 
}

.validation-summary-errors 
{ 
    font-weight: bold; 
    color: red; 
}

.validation-summary-valid 
{ 
    display: none; 
}