﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/Site.css")
    </head>
    <body>
        <div>   
            @if (TempData["message"] != null)
            {
                <div class="Message">@TempData["message"]</div>
            }
        </div>
        <div id="content">
            @RenderBody()
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        <script type="text/javascript">
            $(function() {

                $('div#loading').hide();

                var page = 0;
                var _inCallback = false;

                function loadItems() {
                    if (page > -1 && !_inCallback) {
                        _inCallback = true;
                        page++;
                        $('div#loading').show();

                        $.ajax({
                            type: 'GET',
                            url: '/Home/StoresList/' + page,
                            success: function(data, textstatus) {
                                if (data != '') {
                                    $("#scrolList").append(data);
                                } else {
                                    page = -1;
                                }
                                _inCallback = false;
                                $("div#loading").hide();
                            }
                        });
                    }
                }
                //обработка события скроллинга
                $(window).scroll(function() {
                    if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                        loadItems();
                    }
                });
            })
        </script>
    </body>
</html>
